.mobileClass {float:none;}

html,body{height:auto;}
body{margin-top: -20%;}
#wrapper,#left-col, #content{height:auto;}
#left-col{
	position: relative;
	width:100%;
	border-right: none;
	border-left: none;
	border-bottom: 10px solid rgba(22,164,196, 0.75);
}
#content{padding-left:10%;}
#left-col h1{
	text-align: center;
	font-size: 400%;
	padding-top: 5%;
}
.about {
	margin-top: 5%;
}

.social {
	bottom: 5%;
}
.project-view {
	width:100%;
	left:0;
}